.navbar {
  display: flex;
  
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ffffff;
  color: #040404;
  font-family: "Nunito", sans-serif;;
  font-weight: 600;
  font-size: 30px;

  justify-content:space-between;
}

.navbar-brand .navbar-logo {
  font-size: 2rem;
  font-weight: 900;
  font-family: "Nunito", sans-serif;;
  color: #040404;
  text-decoration: none;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.navbar-item {
  justify-content:center;

  position: relative;
  text-decoration: none;
  color: #040404;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navbar-item::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #227604;
  transition: width 0.3s ease;
}



.navbar-item:hover::after {
  width: 100%;
}






.navbar-item-login{
  color: #040404;
  font-family: "Nunito", sans-serif;;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
  border: 2px solid #000000;
}


.navbar-item-login:hover{
  border: 2px solid #227604;
  background-color: #227604;
color:#ffff;
}